
$main-bg: #1c1c1c;
$axiliry-bg: #2a2a2a;
$highlight-bg: #FFFFFF;

$red-hl: #c71d4c;
$blue-hl: #324990;

$border-color: $highlight-bg;

$main-tc: #FFFFFF;
$accent-tc: #000000;

$hover-color: $highlight-bg;
$clicked-color: $highlight-bg;


